extends layout
include mixins/_toolbar.pug

block content

    +toolbar(backPath)

    .content
        .actual-path
            h1 
                i(class="far fa-folder-open")
                span #{path}
        .file-list(data-path=route)