extends layout

block content

    .content
        .toolbar
            .actual-path
                h1 
                    i(class="fas fa-spinner", id="stream-spinner")
                    span #{path}

            .global-actions
                button#new-folder-btn
                    i(class="fas fa-folder-plus")
                    span New Folder

                button#filter-hidden-btn
                    i(class="far fa-eye")
                    span Hidden Files
                
        .file-list(data-path=route, data-back=backPath)