extends layout
include mixins/_toolbar.pug

block content

    +toolbar(backPath)

    .content
        .actual-path
            h2 #{path}
        .file-list    
            ul
                each file in files
                    li
                        a(href=`/${file.breadcrumb}`)
                            span.f-name #{file.name}
                            em.f-size #{file.size}