extends layout
include mixins/_toolbar.pug

block content

    +toolbar(backPath)

    .content
        .actual-path
            h2 #{path}
        .file-list(data-path=route)


    script(src="/js/stream.js" type="text/javascript" defer)        