extends layout
include mixins/_toolbar.pug

block content

    +toolbar('/')

    h1 Files in #{path}
    ul
        each file in files
            li
                a(href=`/${file.name}`)
                    span.f-name #{file.name}
                    em.f-size #{file.size}