
mixin toolbar(back)
    .toolbar
        .nav-actions
            if back
                each action in [{icon: 'fas fa-home', path: '/', label: 'Home'}, {icon: 'fas fa-arrow-left', path: back, label: 'Back'}]
                    a(class='action', href=action.path)
                        i(class=action.icon)
            else
                each action in [{icon: 'fas fa-home', path: '/', label: 'Home'}]
                    a(class='action', href=action.path)
                        i(class=action.icon)
