@import url('https://fonts.googleapis.com/css?family=Courier+Prime:400,700&display=swap');

$font-family: 'Courier Prime', monospace;

:root {
    font-size: 62.5%;
    body {
      margin: 10px;
      width: 100%;
      height: 100%;
      font-size: 1.6rem;
      font-family: $font-family;
    }
}

h1 {
    color: red;
}

ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1200px;
  margin: 0;
  padding: 0;

  li {
    flex: 1 0 30%;
    padding: 8px 3px;

    a {
      color: inherit;
      text-decoration: none;
    }

    .f-name {
      display: block;
    }
    .f-size {
      font-size: 1.3rem;
    }
  }
}