@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

$font-family: 'Poppins', sans-serif;
$primary: #ad1457;
$primary-dark: #78002e;
$primary-light: #e35183;
$secondary: #fbc02d;
$secondary-ligth: #fff263;
$secondary-dark: #c49000;

:root {
    font-size: 62.5%;
    height: 100%;
    overflow-x: hidden;

    html {
      margin: 0px;
    }

    body {
      margin: 0px;
      width: 100%;
      height: 100%;
      font-size: 1.6rem;
      font-family: $font-family;
      letter-spacing: .09rem;
      background: #eff1ef;
    }
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}

// TOOLBAR

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  color: #666;
  height: 100%;
  width: 30px;
  padding: 0px 16px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  .nav-actions {
    flex: 1 0 auto;
    margin-top: 16px;
    .action {
      width: 100%;
      margin: 8px 0;
      font-size: 2.0rem;
      letter-spacing: 1px;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      color: inherit;
      display: inline-block;
      transform: scale(1);
      transition: transform .15s;
      &:hover {
        transform: scale(1.1);
      }
      span {
        margin-left: 12px;
      }
      i {
        transform: translateY(0.1em)
      }
    }
  }

  .logo {
    flex: 0 1 auto;
    h1 {
      margin: 0;
      margin-bottom: 16px;
      font-size: 2.4rem;
    }
  }
  
}

// STOP TOOLBAR


// CONTAINER

.content {
  position: relative;
  left: 62px;
  width: 100%;
  padding: 0 170px;
}

.actual-path, .file-list {
  margin: 0 auto;
}

.actual-path {
  height: 125px;
  display: flex;
  color: #3a3a3a;
  align-items: flex-end;
  h2 {
    margin: 8px 0;
  }
}


.file-list {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 4px;
  background-color: #fafafa;
  margin-bottom: 40px;

  .row-file {
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #444;
    border-bottom:1px solid #dfdfdf;

    .name {
      flex: 1 0 50%;
    }

    .size {
      flex: 1 0 10%;
    }

    .actions {
      flex: 1 0 30%;
      display: flex;
      justify-content: flex-end;

      a {
        color: inherit;
        font-size: 2rem;
      }
    }
    
  }
}