@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

$font-family: 'Poppins', sans-serif;
$primary: #ad1457;
$primary-dark: #78002e;
$primary-light: #e35183;
$secondary: #fbc02d;
$secondary-ligth: #fff263;
$secondary-dark: #c49000;

:root {
    font-size: 62.5%;
    height: 100%;
    overflow-x: hidden;

    html {
      margin: 0px;
    }

    body {
      margin: 0px;
      width: 100%;
      height: 100%;
      font-size: 1.6rem;
      font-family: $font-family;
      letter-spacing: .09rem;
      background: #f5f5f5;
    }
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}

// TOOLBAR

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  color: #9a9a9a;
  height: 100%;
  width: 120px;
  padding: 0px 16px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  box-shadow: 0 0 27px 0 rgba(214, 231, 233, 0.52);

  .nav-actions {
    flex: 1 0 auto;
    margin-top: 16px;
    .action {
      width: 100%;
      margin: 8px 0;
      font-size: 1.6rem;
      letter-spacing: 1px;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      color: inherit;
      display: inline-block;
      transform: scale(1);
      transition: transform .15s;
      &:hover {
        transform: scale(1.1);
      }
      span {
        margin-left: 12px;
      }
      i {
        transform: translateY(0.1em)
      }
    }
  }

  .logo {
    flex: 0 1 auto;
    h1 {
      margin: 0;
      margin-bottom: 16px;
      font-size: 2.4rem;
    }
  }
  
}

// STOP TOOLBAR


// CONTAINER

.content {
  position: relative;
  left: 150px;
  width: 100%;
}

.actual-path, .file-list {
  padding: 0 120px;
  margin: 0 auto;
}

.actual-path {
  height: 125px;
  display: flex;
  align-items: flex-end;
  background-color: #ad1457;
  color: #f1f1f1;
  h2 {
    margin: 8px 0;
  }
}


.file-list {
  ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
  
    li {
      flex: 0 0 100%;
      padding: 8px 0px;
  
      a {
        color: inherit;
        text-decoration: none;
      }
  
      .f-name {
        display: block;
      }
      .f-size {
        font-size: 1.3rem;
      }
    }
  }
}