@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");
:root {
  font-size: 62.5%;
  height: 100%;
  overflow-x: hidden;
}
:root html {
  margin: 0px;
}
:root body {
  margin: 0px;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.09rem;
  background: #fff;
}
.hidden {
  opacity: 0;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}
.toolbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.toolbar .global-actions {
  display: flex;
  justify-content: space-between;
}
.toolbar .global-actions button {
  background: #fff;
  border: none;
  color: #555;
  padding: 0.75em 2em;
  margin: 0 0.5em;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  outline: none;
}
.toolbar .global-actions button:last-child {
  margin-right: 0;
}
.toolbar .global-actions button:hover {
  background: #fff263;
}
.toolbar .global-actions button i {
  margin: 0 0.5em 0 0;
}
.content {
  position: relative;
  width: 100%;
  padding: 0 120px;
}
.actual-path {
  color: #3a3a3a;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.actual-path h1 {
  margin: 32px 0;
}
.actual-path .fa-spinner {
  animation: spin 1.5s ease-in-out infinite;
}
.actual-path span {
  margin-left: 16px;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
.file-list {
  border-radius: 4px;
  margin-bottom: 40px;
  position: relative;
}
.file-list .row-file {
  padding: 0.45em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #444;
  opacity: 1;
  border-bottom: 1px solid #dfdfdf;
  transition: all 0.2s ease-in-out;
}
.file-list .row-file.new {
  background: #fffde3;
}
.file-list .row-file.closed {
  opacity: 0;
  overflow: hidden;
  border: none;
  padding: 0;
  transition: all 0.2s ease-in-out;
  height: 0;
}
.file-list .row-file .cell,
.file-list .row-file .header {
  padding: 0 12px;
  word-break: break-all;
}
.file-list .row-file .header {
  font-weight: bold;
}
.file-list .row-file .type {
  flex: 0 1 30px;
  font-size: 1.8rem;
}
.file-list .row-file .name {
  flex: 0 0 20%;
}
.file-list .row-file .name p {
  margin: 0;
}
.file-list .row-file .name input {
  border: none;
  font-family: "Poppins", sans-serif;
  outline: none;
  background: #f1f1f1;
  padding: 0.4em 0em;
}
.file-list .row-file .birth,
.file-list .row-file .modified,
.file-list .row-file .access {
  flex: 0 0 15%;
}
.file-list .row-file .size {
  flex: 0 0 10%;
}
.file-list .row-file .actions {
  flex: 1 0 10%;
  display: flex;
  justify-content: flex-end;
}
.file-list .row-file .actions a {
  color: inherit;
  font-size: 2rem;
}
.file-list .row-file .actions .fa-check {
  color: green;
  margin: 0 1em;
  cursor: pointer;
}
.file-list .row-file .actions .fa-times {
  color: red;
  cursor: pointer;
}
